.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  a {
    color: whitesmoke;
    text-decoration: none;
  }
}

.CartNav {
  position: relative;
  > div {
    span {
      position: absolute;

      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: yellow;

      top: 0;
      right: 0;

      z-index: 10;
    }
  }
}
