<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 mx-3">
  <div
    class="bg-dark text-white overflow-hidden w-50"
  >
    <img src="{{product.img}}" alt="{{product.name}}" class="img-fluid">
  </div>
  <div
    class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden w-50"
  >
    <div class="my-3 p-3">
      <h2 class="display-5">{{product.name}}</h2>
      <p class="lead">$ {{product.price}}</p>
      <button class="btn btn-success px-4 py-2">
          Add To Cart
      </button>
      <p class="lead py-4">{{product.description}}</p>
    </div>
  </div>
</div>
